{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Página de servicio del bot Denis</h1>
    <p>Esta es la página de administración de un bot conversacional, Alice bot, llamado Denis.</p>
    <a type="button" class="btn btn-lg btn-default" href="heroku_django"
      ><span class="glyphicon glyphicon-flash"></span> Getting Started with Python
    </a>    
    <a type="button" class="btn btn-lg btn-default" href="https://www.ibm.com/developerworks/cloud/library/cl-rtchat-app/index.html">
      <span class="glyphicon glyphicon-flash"></span> Build a real-time chat app with Node-RED in 5 minutes
    </a>    
  </div>
</div>

{% endblock %}
